text {
  font: 18px sans-serif;
  fill: grey;
}

text:hover,
.node--source,
.node--target {
  font-weight: bold;
}

text:hover {
  fill: #FFFF;
}

.node--source {
  fill: #FF8200;
}

.node--target {
  fill: #ff00d4;
}

path {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
  opacity: 0.5;
}

.link--source, /*two hyphens [emotionless]*/
.link--target {
  stroke-width: 2px;
  opacity: 1;
}

.link--source {
  stroke: #ff00d4;
}

.link--target {
  stroke: #FF8200;
}